.title {
  &-small {
    letter-spacing: 0.5rem;
    font-size: 1.7rem;
  }
}

.text {
  &-primary {
    color: var(--primary);
  }
  &-hint {
    color: var(--hint);
  }
}

.mb-5 {
  margin-bottom: 5rem !important;
}
.mb-2 {
  margin-bottom: 2rem !important;
}
