@import "reset";
@import "base";
@import "class";
@import "animation";
@import "media-queries";

.grid-container {
  display: grid;
  grid: "picture header" auto "aside main" 1fr "footer footer" auto / 350px auto;
  min-height: 100vh;
  @include xs {
    grid: "header" auto "main" auto "picture" auto "aside" auto "footer" auto / auto;
  }
}

header {
  grid-area: header;
  background: linear-gradient(to right, var(--dark), var(--light));
  padding: 8rem 5rem;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include xs {
    padding: 5rem 2rem;
  }
  h1 {
    font-size: 6rem;
    line-height: 8rem;
    font-weight: 300;
    letter-spacing: 3rem;
    @include xs {
      font-size: 4rem;
    }
  }
  p {
    letter-spacing: 0.5rem;
  }
  span {
    display: inline-block;
    animation: bounce 1s;
  }
}

.picture {
  grid-area: picture;
  padding: 6rem;
  background: var(--background);
  border-right: 1px solid var(--border);
  img {
    border-radius: 50%;
  }
}

aside {
  grid-area: aside;
  background: var(--background);
  border-right: 1px solid var(--border);
  padding: 5rem;
  .block {
    margin-bottom: 5rem;
    h3 {
      margin-bottom: 0;
      font-size: 1.4rem;
    }
    p {
      margin: 0 0 2rem 0;
      font-style: italic;
    }
  }
  .bar-skill {
    margin: 2rem 0;
    height: 0.5rem;
    background: var(--hint);
    position: relative;
    .bar-skill-progress {
      position: absolute;
      height: 0.5rem;
      top: 0;
      left: 0;
      width: 80%;
      background: var(--light);
    }
    .bar-skill-dot {
      position: absolute;
      height: 1rem;
      width: 1rem;
      background: var(--dark);
      transform: rotate(45deg);
      left: calc(80% - 5px);
      top: -2.5px;
    }
  }
  .stars-container {
    display: flex;
    margin: 2rem 0 3rem 0;
    color: var(--hint);
    i {
      font-size: 2rem;
      margin: 0 1rem;
    }
  }
  .social-container {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background: var(--border);
      i {
        color: var(--primary);
        transform: scale(1.3);
        transition: all 0.2s;
      }
    }
    i {
      font-size: 2rem;
      flex: 0 0 5rem;
      margin-right: 1rem;
    }
    p {
      flex: auto;
      margin: 0;
    }
  }
}

main {
  grid-area: main;
  padding: 5rem;
  @include xs {
    padding: 5rem 1.5rem;
  }
  h2 {
    margin-bottom: 4rem;
  }
  p {
    letter-spacing: 0.1rem;
    line-height: 3rem;
  }
  .experience {
    display: flex;
    margin: 6rem 0;
    .timeline {
      text-align: center;
      color: var(--hint);
      padding-right: 2rem;
      border-right: 1px solid var(--border);
      p {
        margin-top: 0;
      }
    }
    .content {
      padding: 0 1rem;
      h3 {
        margin: 0;
      }
      p {
        margin: 0;
      }
      ul {
        list-style: circle;
        padding-left: 4rem;
        margin: 2rem 0;
      }
    }
  }
}

footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 5rem;
  @include xs {
    padding: 5rem 1.1rem;
  }
  background: var(--text);
  h2 {
    margin-bottom: 3rem;
  }
  form {
    display: flex;
    align-items: center;

    .prefix {
      background: linear-gradient(to right, var(--light), var(--dark));
      padding: 1rem 2rem;
      color: white;
      font-size: 2rem;
      border-top-left-radius: 25%;
      border-bottom-left-radius: 25%;
    }
    input {
      outline: 0;
      border: 0;
      padding: 1rem 2rem;
      min-width: 400px;
      line-height: 2rem;
      @include xs {
        min-width: 19rem;
      }
      &::placeholder {
        color: var(--text);
      }
    }
    button {
      background: linear-gradient(to left, var(--light), var(--dark));
      padding: 0.85rem 2rem;
      color: white;
      font-size: 2rem;
      border: 0;
      border-top-right-radius: 25%;
      border-bottom-right-radius: 25%;
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        opacity: 0.8;
        border: 0;
      }
    }
  }
}
